.vs/
.vscode/
.idea/

.out/
out/

.build/
build/

.test/
test/

.bin/
bin/

.obj/
obj/

.packages/
packages/

/.docs/
/docs/

/osu-cheese-loader/client_path.hpp

cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/

CMakeSettings.json
notes.txt
re/